kaggle.json
Mistral-7B-v0.1/
Lucidchart Flowcharts
.ipynb_checkpoints

# Ignore all model files
*.bin
*.safetensors

# Ignore .git/lfs folder (large file storage)
.git/lfs/


# Ignore IPython notebook checkpoints
.ipynb_checkpoints/

# Ignore PDFs and other non-source files
*.pdf

# Ignore temporary files
*.tmp
*.log
